* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

#container {
    background: url("./imagem/background.jpeg");
    padding-bottom: 140px;
}

#botao-idioma {
    background-color: black;
    font-size: 16px;
    padding-top: 7px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 7px;
    border: 1px solid white;
    border-radius: 3px;
    float: right;
    cursor: pointer;
    margin: 0 15px;
}

#botao-idioma:hover {
    background-color: #303030;
    opacity: 0.8;
}


#botao-entrar {
    background-color: #e50914;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 18px;
    border: 0;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}
#botao-entrar:hover {
    background-color: darkred;
}

#cabecalho {
    padding: 28px 56px;
}

h1 {
    text-align: center;
    font-size: 50px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    font-style: bold;
    
}

#paragrafo-assista {
    font-size: 24px;
    text-align: center;
    margin-top: 14px;
}

#paragrafo-pronto {
    font-size: 20px;
    text-align: center;
    margin-top: 24px;
}

input {
    width: 500px;
    padding-left: 10px;
    color: black;
    font-size: 24px;
}

#botao-email {
    width: 250px;
    background-color: #e50914;
    border: 0;
    font-size: 30px;
    cursor: pointer;
}

#botao-email:hover {
    opacity: 0.8;
}

#formulario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 70px;
}

#rodape {
    background-color: black;
    border-top: 10px solid #303030;
    padding: 70px 0;
}

h2 {
    font-size: 50px;
    text-align: center;
}

#botao-pergunta {
    width: 800px;
    background-color: #303030;
    height: 70px;
    border: 0;
    font-size: 24px;
    margin-top: 40px;
    text-align: left;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

#imagem-pergunta {
    float: right;
    margin-top: 8px;
    transform: rotate(45deg); 
}

#imagem-pergunta-girar {
    float: right;
    margin-top: 8px;
    transform: rotate(90deg);
}

#pergunta {
    width: 800px;
    background-color: #303030;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    padding: 24px;
    display: none;
}

.paragrafo-pergunta {
    font-size: 24px; 
}
